<?xml version="1.0" encoding="UTF-8"?>

 <beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
 http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
 http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
 http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
	
	<bean id="transferService" class="com.cts.service.TransferService">
		<!--  Setter injection -->
		<!-- <property name="repository" ref="accountRepository"></property> -->
		<constructor-arg ref="accountRepository"></constructor-arg>
	</bean>
	<bean id="accountRepository" class="com.cts.repo.AccountRepository"></bean>
	
	<!--Just scan this package and look out for beans marked as @Component  
	<context:component-scan base-package="com.cts"></context:component-scan>
	-->
	
	<!-- No need to declare beans here, so commented all -->
	<bean id="a" class="com.cts.A">
		<property name="bObj" ref="b"></property>
		<property name="c" ref="c1"></property>
	</bean>
	<bean id="b" class="com.cts.B"></bean>
	<bean id="c1" class="com.cts.C"></bean> 
</beans>